Repository parse-community/docs, pull requests merged in 2019-09, with the labels that each got.

#667 added section about master key config
  _includes/cloudcode/cloud-code-advanced.md
  _includes/js/config.md
  assets/js/bundle.js
Labels: Cloud Code Guide, JavaScript Guide

#666 Parse.Cloud.onLiveQueryEvent Documentation
  _includes/cloudcode/cloud-code.md
Labels: Cloud Code Guide

#675 Update recommended node version to 8 or newer
  _includes/parse-server/getting-started.md
Labels: Parse Server Guide
