Repository parse-community/docs, pull requests merged in 2019-07, with the labels that each got.

#641 Fix language selector
  assets/js/bundle.js
  package-lock.json
  package.json
Labels: Bug

#644 Add documentation for [JS-SDK] ParseQuery.withCount
  _includes/js/queries.md
Labels: JavaScript Guide

#645 Add documentation for query.withCount [PHP]
  _includes/js/queries.md
  _includes/php/queries.md
Labels: PHP Guide

#647 Documentation for isDataAvailable
  _includes/js/objects.md
  _includes/php/objects.md
Labels: JavaScript Guide, PHP Guide

#653 Add reference to afterFind, add more detail on predefined classes
  _includes/cloudcode/cloud-code.md
Labels: Cloud Code Guide, Enhancement, Missing Content
