Repository parse-community/docs, pull requests merged in 2019-04, with the labels that each got.

#616 Add archive warning to Arduino guide
  _includes/arduino/getting-started.md
  assets/js/bundle.js
Labels: Arduino Guide

#488 Add dot notation key in query examples
  _includes/android/queries.md
  _includes/js/queries.md
  _includes/php/queries.md
Labels: Android Guide, JavaScript Guide, PHP Guide

#617 Add documentation for beforeLogin trigger
  _includes/cloudcode/cloud-code.md
Labels: Cloud Code Guide
