Repository parse-community/docs, pull requests merged in 2019-08, with the labels that each got.

#654 Remove a bunch of parse cloud references
  _includes/android/handling-errors.md
  _includes/android/objects.md
  _includes/android/push-notifications.md
  _includes/arduino/cloud-code.md
  _includes/arduino/objects.md
  _includes/common/data.md
  _includes/common/sessions.md
  _includes/dotnet/handling-errors.md
  _includes/dotnet/objects.md
  _includes/embedded_c/cloud-code.md
  _includes/embedded_c/sample-app.md
  _includes/ios/handling-errors.md
Labels: Android Guide, Arduino Guide, Cloud Code Guide, Common Docs, Documentation Improvement, iOS Guide

#662 Update apple sign in documentation
  _includes/parse-server/third-party-auth.md
Labels: Parse Server Guide

#664 Add `cascadeSave` option in ParseObject to JS docs
  _includes/js/objects.md
Labels: JavaScript Guide
