Repository parse-community/docs, pull requests merged in 2019-03, with the labels that each got.

#588 Update user-interface.md
  _includes/ios/user-interface.md
Labels: documentation, iOS Docs

#587 Add s3 file adapter parameters
  _includes/parse-server/file-adapters.md
Labels: Enhancement, Parse Server Docs

#589 Update swift syntax for logInInBackgroundWithReadPermissions
  _includes/ios/users.md
Labels: iOS Docs

#590 Update Swift iOS Parse Configuration Initialise
  _includes/parse-server/using-parse-sdks.md
Labels: Parse Server Docs, iOS Docs

#585 Update deploy to Glitch (formerly HyperDev) docs
  _includes/parse-server/deploying-glitch-mlab.md
  _includes/parse-server/deploying-hyperdev-mlab.md
  _includes/parse-server/deploying.md
  assets/js/bundle.js
Labels: Parse Server Docs

#592 Update deploy to glitch guide
  _includes/parse-server/deploying-glitch-mlab.md
  _includes/parse-server/deploying-hyperdev-mlab.md
  _includes/parse-server/deploying.md
  assets/js/bundle.js
Labels: Parse Server Docs

#600 Update swift code snippet for PFTableViewCell
  _includes/ios/user-interface.md
Labels: Swift, iOS Docs

#599 Update swift code snippets for PFQueryTableViewController
  _includes/ios/user-interface.md
Labels: Swift, iOS Docs

#597 Update code snippets for sign up & log in view controller
  _includes/ios/user-interface.md
Labels: Swift, iOS Docs

#601 Update push-notifications.md
  _includes/rest/push-notifications.md
Labels: REST Docs

#604 Remove outdated push notification content
  _includes/ios/push-notifications.md
Labels: iOS Docs

#606 Example for extending Parse.User
  _includes/js/objects.md
  assets/js/bundle.js
Labels: JavaScript Docs

#607 Add language toggles to REST docs
  _includes/rest/config.md
  _includes/rest/hooks.md
  _includes/rest/push-notifications.md
  _includes/rest/sessions.md
Labels: Bug, REST Docs

#570 Update push-notifications.md
  _includes/parse-server/push-notifications.md
Labels: In Progress, Parse Server Docs

#609 REST Fixed formatting
  _includes/rest/queries.md
  assets/js/bundle.js
Labels: Bug, Enhancement, REST Docs
