Repository parse-community/docs, pull requests merged in 2020-01, with the labels that each got.

#698 Adding Microsoft OAuth Documentation
  _includes/parse-server/third-party-auth.md
  assets/js/bundle.js
Labels: Parse Server Guide

#684 Add afterLogout trigger docs
  _includes/cloudcode/cloud-code.md
  assets/js/bundle.js
Labels: Cloud Code Guide

#685 Add documentation for the LDAP auth module
  _includes/parse-server/third-party-auth.md
Labels: Parse Server Guide

#688 WIP: GraphQL Docs
  _includes/graphql/api-doc.md
  _includes/graphql/classes.md
  _includes/graphql/customisation.md
  _includes/graphql/files.md
  _includes/graphql/getting-started.md
  _includes/graphql/graphql.md
  _includes/graphql/health-check.md
  _includes/graphql/objects.md
  _includes/graphql/optimization.md
  _includes/graphql/queries.md
  _includes/graphql/relay.md
  _includes/graphql/users.md
  _includes/graphql/your-first-class.md
  graphql.md
  index.md
  package-lock.json
  package.json
Labels: GraphQL Guide

#691 Docs for GQL query and mutation aliases
  _includes/graphql/customisation.md
Labels: GraphQL Guide
