Repository parse-community/docs, pull requests merged in 2020-07, with the labels that each got.

#748 Pr/747 - typo in guides
  _includes/android/objects.md
  _includes/ios/objects.md
Labels: Android Guide, iOS Guide

#730 Add context to object save in JS SDK
  _includes/cloudcode/cloud-code.md
  _includes/js/objects.md
Labels: Cloud Code Guide, JavaScript Guide

#731 Add updated posgres url information
  _includes/parse-server/database.md
Labels: Parse Server Guide
